body {
    display:flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex: 1;
    min-height: 0;
    justify-content: center;
    align-items: center;
    background: #232323;
    padding: 40px 10px;
    gap: 50px;
    margin: 0px;
}

#intro-video {
    display: flex;
    width: 640px;
    border: 6px solid #4b607f;
}

#intro-text {
    font-family: "arial black", arial, sans-serif;
    letter-spacing: -0.05em;
    font-size: 85px;
    line-height: 1.2;
    color: #e8d8c9;
    margin-top: 0px; 
    width: 100%;
    max-width: 277px;
}

#name {
    /*color: #5582DA;*/
    color: #f3701e;
}


#contact-title {
    font-weight: bold;

}

@media (max-width: 940px){
    #intro-text {
        margin: 5px;
        width: 100%;
        max-width: 640px;
        font-size: clamp(2.3rem, 9vw, 5.3125rem);
    }

    #content {
        flex: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    #intro-text-wrapper {
        width: 100%;
        max-width: 640px;
        min-width: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #intro-video {
        width: 100%;
        max-width: 640px;
        min-width: 0px;
    }

    .mobile-text-break {
        display: none;
    }
}

@media (max-height: 800px){
    #content {
        flex: none;
    }

}

