body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    letter-spacing: -0.01em;
}

.outline {
    border: 2px dotted red;
}


#content {
    display: flex;
    justify-content: center;
    background: #232323;
    padding: 40px 10px;
    gap: 50px;
    margin: 0px;
}

#intro-video {
    display: flex;
    width: 640px;
    border: 6px solid #5582DA;
    height: 100%;
}

#intro-text {
    font-family: "arial black", arial, sans-serif;
    letter-spacing: -0.05em;
    font-size: 85px;
    line-height: 1.2;
    color: white;
    margin-top: 0px; 
    width: 100%;
    max-width: 277px;
}

#name {
    color: #5582DA;
}


#contact-title {
    font-weight: bold;

}

@media (max-width: 940px){
    #intro-text {
        margin: 5px;
        width: 100%;
        max-width: 640px;
        font-size: clamp(2.3rem, 9vw, 5.3125rem);
    }

    #content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    #intro-text-wrapper {
        width: 100%;
        max-width: 640px;
        min-width: 0px;
        margin-bottom: 0px;
        paddding-bottom: 0px;


    }

    #intro-video {
        width: 100%;
        max-width: 640px;
        min-width: 0px;

    }

    .mobile-text-break {
        display: none;
    }
}

