@font-face {
    font-family: alliance;
    src: url(Resources/"Alliance No.2 Regular.otf");

}
.outline {
    border: 2px dotted red;
}

html, body {
    overflow: auto;
    height: 100%;
    margin: 0px;
}

* {
    box-sizing: border-box;
    /*makes it so that width commands count padding and border as being part of
     * width*/
}

