#header {
    display: flex;
    justify-content: center;
    background: #5582DA;
    align-items: center;
    /* Aligns items to the center of the flexbox (vertically)*/
    /*A flexbox will take all of its immediate children and organize them
     * horizontally. A flex box is automatically a block element unless you use
     * inline-flex.*/
    
    /*padding: 0px 10px;
     *         ^ vertical
     *              ^^ horizontal */
    padding: 18px;
    height: auto;
    gap: 510px;

}

#header-menu {
    display: flex;
    /*margin-left: auto;*/
    gap: 20px;
    /* gap between elements in a flex box (and some other structures) */
}

.header-button {
    font-family: inherit;
    /* form controls, including buttons, do not automatically inherit */
    font-size: 21px;
    background: none;
    border: none;
    padding-right: 10px;
    padding-left: 0px;
}

#logo {
    font-size: 30px;
    font-weight: 550; 
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
}

#footer {
    display: flex;
    flex-direction: column;
    background: #5582DA;
    padding: 0px 10vw;

}

#footer-text {
    text-size: 16px;
    line-height: 1.6;
    margin: ;
}

@media (max-width: 940px){
    #header {
        gap: 25%;
    }

@media (max-width: 564px) {
    #header {
        padding: 16px 10px;
        justify-content: space-around;

    }
    #header-menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}

@media (max-width: 400px) {
    #header {
        justify-content: space-around;
        align-items: flex-start;
        gap: 0px;

    }
    #header-menu {
        margin-top: 40px;
        margin-left: auto;
    }
}
