
html, body {
    overflow-x: auto;
}

* {
    box-sizing: border-box;
    /*makes it so that width commands count padding and border as being part of
     * width*/
}
body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    letter-spacing: -0.01em;
}

.outline {
    border: 2px dotted red;
}

#header {
    display: flex;
    justify-content: center;
    background: #5582DA;
    height: 75px;
    align-items: center;
    /* Aligns items to the center of the flexbox (vertically)*/
    /*A flexbox will take all of its immediate children and organize them
     * horizontally. A flex box is automatically a block element unless you use
     * inline-flex.*/
    
    /*padding: 0px 10px;
     *         ^ vertical
     *              ^^ horizontal */
    padding: 0px;
    gap: 510px;

}

#header-menu {
    display: flex;
    /*margin-left: auto;*/
    gap: 20px;
    /* gap between elements in a flex box (and some other structures) */
}

.header-button {
    font-family: inherit;
    /* form controls, including buttons, do not automatically inherit */
    font-size: 21px;
    background: none;
    border: none;
    padding-right: 10px;
    padding-left: 0px;
}

#logo {
    font-size: 30px;
    font-weight: 550; 
    padding: 0px;
}

#content {
    display: flex;
    justify-content: center;
    background: #232323;
    padding: 40px 10px;
    gap: 50px;
    margin: 0px;
}

#intro-video {
    display: flex;
    width: 640px;
    border: 6px solid #5582DA;
    height: 100%;
}

#intro-text {
    font-family: "arial black", arial, sans-serif;
    letter-spacing: -0.05em;
    font-size: 85px;
    line-height: 1.2;
    color: white;
    margin-top: 0px; 
    width: 100%;
    max-width: 277px;
}

#name {
    color: #5582DA;
}

#footer {
    display: flex;
    flex-direction: column;
    background: #5582DA;
    padding: 0px 10vw;

}

#footer-text {
    text-size: 16px;
    line-height: 1.6;
    margin: ;

}

#contact-title {
    font-weight: bold;

}

@media (max-width: 940px){
    #header {
        gap: 25%;


    }
    #intro-text {
        margin: 5px;
        width: 100%;
        max-width: 640px;
        font-size: clamp(2.3rem, 7vw, 5.3125rem);
    }

    #content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    #intro-text-wrapper {
        width: 100%;
        max-width: 640px;
        min-width: 0px;
        margin-bottom: 0px;
        paddding-bottom: 0px;


    }

    #intro-video {
        width: 100%;
        max-width: 640px;
        min-width: 0px;

    }

    .mobile-text-break {
        display: none;
    }
}


@media (max-width: 564px) {
    #header {
        padding: 0px 10px;
        justify-content: space-around;

    }
    #header-menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}
